.relevant_for
  p: strong> Inspires:
  ul
    - if virtue.relevant_for_designers?
      li = link_to nil, class: :with_icon
        span.name Designers
        span.icon< 🎨
    - if virtue.relevant_for_web_developers?
      li = link_to nil, class: :with_icon
        span.name Developers
        span.icon< ⌨️
    - if virtue.relevant_for_content_authors?
      li = link_to nil, class: :with_icon
        span.name Content authors
        span.icon< ✍️
    - if virtue.relevant_for_multimedia_artists?
      li = link_to nil, class: :with_icon
        span.name Multimedia artists
        span.icon< 🔈🎬
