== render "shared/breadcrumbs", items: [["Welcome", root_path], ["Learn", learn_path], ["Virtues", virtues_path]]

section.virtues
  h2 Accessibility virtues

  p A virtue is a <mark>good habit</mark>. There's a dozen or so accessibility virtues. Look into them and start applying some to your projects. Take your time: <mark>slowly and steadily</mark> incorporate one after the other into your daily routines. They will inspire and guide you, resulting in <mark>genuinely better products</mark> - far beyond accessibility.

  - @virtues.each do |virtue|
    article.virtue id=dom_id(virtue)
      .two_columns
        .left
          h4
            sup: small> #{virtue.id}
            = link_to virtue
              = virtue.name
          blockquote
            | "#{virtue.intent}"

        .right
          figure.video_player
            = far_icon('play-circle')
            = image_tag("Accessify.me-main-title", alt: "Accessify.me main title slide")

      .video_stats
        p: strong> Offers:
        ul
          li 12 tutorials
          li 5 exercises
          li 6 personas
          li 17 examples
          li 13 wins & 31 fails

      .relevant_for
        p: strong> Inspires:
        ul
          - if virtue.relevant_for_designers?
            li = link_to nil
              span.icon> 🎨
              span.name Designers
          - if virtue.relevant_for_developers?
            li = link_to nil
              span.icon> ⌨️
              span.name Developers
          - if virtue.relevant_for_text_authors?
            li = link_to nil
              span.icon> 📖
              span.name Text authors
          - if virtue.relevant_for_audio_authors?
            li = link_to nil
              span.icon> 🔈
              span.name Audio authors
          - if virtue.relevant_for_video_authors?
            li = link_to nil
              span.icon> 🎬
              span.name Video authors
