== render "shared/breadcrumbs", items: [["Welcome", root_path], ["Learn", learn_path]]

section.learn
  h2
    | Learn more 🧠
    br> aria-hidden="true"
    small Expand your accessibility skillset

  .two_columns
    .left
      h3 = link_to "Become a virtuoso 💪", virtues_path

      p There are a dozen <mark>accessibility virtues</mark> you want to be aware of, and some will become part of your <mark>daily routines</mark>.

    hr

    .right
      h3 = link_to "Use the algorithm ⚙️", virtues_path

      p <mark>Automated tools</mark> and services offer great support to those who recognise both their <mark>power and limitations</mark>.