== render "shared/breadcrumbs", items: [["About", about_path]]

section.about
  .foto
    / = image_tag "josua"
    img.placeholder

  h2
    | About me 👨‍🦰
    br> aria-hidden="true"
    small A simple man with a vision

  p I want to co-create a world where technology is used as a <mark>tool, not as a weapon</mark>, and serves humanity on both the <mark>collective and personal</mark> level. It shall promote global coexistence while protecting our fundamental rights as individuals. Our times demand that we <mark>empower ourselves</mark> and connect with each other. No one shall be left out!

  p <mark>Accessibility</mark> means creating digital media that can be used regardless of physical abilities, so that everyone can participate. It is a basic requirement for an <mark>inclusive digital society</mark>.

  h3 I stand for

  ul
    li No fancy ultra-hi-res-4K-retina videos: <mark>720p</mark> is enough and saves bandwidth.
