== render "shared/breadcrumbs", items: [["About", about_path]]

section.about
  .foto = image_tag "josua"

  h2
    | About me 👨‍🦰
    br> aria-hidden="true"
    small A simple man with a big vision

  p I want to co-create a world where technology is used as a <mark>tool, not a weapon</mark>, and serves humanity on both the <mark>collective and individual</mark> level. It shall promote global coexistence while protecting our fundamental rights as peoples. <mark>Empowering ourselves</mark> is key, and as such<br aria-hidden="true"><mark><strong>no one shall be excluded</strong></mark> from the digital realm.

  p <mark>Accessibility</mark> means creating digital media that can be used regardless of physical abilities. It is a basic requirement for <mark>digital inclusion</mark>.

  h3 I stand for

  ul
    li No fancy ultra-hi-res-4K-retina videos: <mark>720p</mark> is enough and saves bandwidth.
