.show_all_virtues
  margin: 2em 0
  text-align: center

  a
    border: none
    border-radius: 5px
    background-color: var(--accent)
    font-size: 1rem
    color: var(--bg)
    padding: 0.7rem 0.9rem
    margin: 0.5rem 0
    text-decoration: none

    &:hover,
    &:focus
      filter: brightness(1.4)
      cursor: pointer

  small
    display: inline-block
    margin-top: .75em
    margin-bottom: .75em
    opacity: .66
