.virtue
  .virtues &
    border: 1px solid var(--border)
    padding: 1rem
    border-radius: 5px
    margin-bottom: 1rem

  h4
    margin-top: 0
    margin-bottom: 0.5em

  .left
    width: 60%

  .right
    width: 40%

  blockquote
    margin: 0

  .virtues &
    .video_player
      i.fa-play-circle
        font-size: 120px

  .offers,
  .inspires
    bottom: 0

    ul,
    p
      margin: 0
      padding: 0
      display: inline

    li
      display: inline

      &:not(:last-child)::after
        content: ", "
        color: var(--text-light)

  .offers
    margin-top: 0.5em

a.with_icon
  text-decoration: none

  .name
    text-decoration: underline

    &:hover
      text-decoration: none