doctype html
html
  head
    title Accessify.me - Accessibility consulting and teaching
    meta name="viewport" content="width=device-width,initial-scale=1"
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag "https://cdn.simplecss.org/simple.min.css"
    /"data-turbo-track": "reload"
    = stylesheet_link_tag "application"
    = javascript_importmap_tags

  body
    header
      h1
        | Accessify.me -
        small< Expert in Digital Inclusion.

      / ul
      /   li lang="en" = link_to 'English', root_path(locale: :en)
      /   li lang="de" = link_to 'Deutsch', root_path(locale: :en)

      nav aria-label="Main"
        ul
          li
            = link_to root_path, "aria-current": (:page if request.path == root_path)
               | Welcome 🤗

          li
            = link_to learn_path, "aria-current": (:page if request.path.starts_with? learn_path)
              | Learn 🧠

          / li
          /   = link_to wcag_elements_path, "aria-current": (:page if request.path.starts_with? wcag_elements_path)
          /     abbr title="Web Content Accessibility Guidelines" WCAG
          /     |  - what?

          li
            = link_to hire_path, "aria-current": (:page if request.path.starts_with? hire_path)
              | Hire 💸

          li
            = link_to about_path, "aria-current": (:page if request.path.starts_with? about_path)
              | About 👨‍🦰

    main
      - if notice.present? || alert.present?
        p.notice = notice
        p.alert  = alert

      = yield

    footer
      p: strong &copy; #{Date.today.year} Josua Muheim, Accessify.me

      p
        | Accessibility consulting and teaching, remote and in person.
        br> aria-hidden="true"
        | By a full stack web developer and accessibility geek.